body {
   width: 100%; 
   margin: 0;
   font-family: Helvetica Neue;
   background-color: #dae2d3
}
main {
    background-color: white;
    padding-bottom: 50px;

}

header {
    height: 300px;
    /* background-color: white; */
    /* background-color: #c1cbd6; */
    width: 100%;
    padding: 0;
    /* display:flex;
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: space-around; */
}
h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 150px;
    margin-left: 5%;
    letter-spacing: 0.04em;
}
.wrapper {
    background-color: white;
    padding: 25px 0 50px 0;
}
.topics {
    margin-left: 5%;
    padding: 0;
}
.items {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.0rem;
    /* grid-template-areas: "item1, item2, item3";  */
    
                           /* "h h h", */
                        /* "m1 m2 m3", */
                        /* "f f f"; */
    
    justify-content: center;
    width: 90%;
    margin: auto;
    /* right now just the items are on a grid.  Do I want the whole page 
    on the same grid? */       
}
.item {
    display: flex;
    flex-direction: column;
    border: 1px solid;
   
    justify-content: center;
    align-content: center;
    
    
}

ul {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    list-style-type: none;
    /* justify-content: space-between; */
    gap: 50px;   
}

.items img {
    width: 100%;
    height: auto;
}

 .items p, h2 {
    padding: 0 1rem;
}
/* use comma to style both p and h2 at once */

.sign-up {
    background-color: #c1cbd6;
    margin: 0 18px auto auto;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 1rem;
    justify-content:space-around;
    align-content: center;
    margin-right: 5%;
   
    font-size: large;
      
}
.sign-up input {
    font-size: 16px;
    padding: 4px;
    
    border-radius: 16px;
    margin: 0.5em 0;
}
.sign-up button {
    width: 60px;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: center;
    padding: 5px;
    /* font-size: 1em; */
   
}


.search input {
    width: 260px;
    /* height: 30px; */
    font-size: 16px;
    border-radius: 30px;
    padding-left: 1rem;
    margin-right: 3px;

}

.search {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    padding: 2rem 0 0 0;

}



/* 
.items h2 {
    
} */

/* .a {
    image
} */